<!DOCTYPE html>
<html>
<head>
	<title>layout</title>
	<meta charset="utf-8">
	<script type="text/javascript" src="scripts/jquery-1.9.1.min.js"></script>
	<script src="scripts/jquery-ui-1.10.3.custom.min.js"></script>
	<script src="scripts/jquery.contextmenu.r2.js"></script>
</head>
<style>
.hide{display:none;}
*{margin:0px;padding:0px;}
.queding:hover{cursor:pointer;}
.quxiao:hover{cursor:pointer;}
</style>
<body style="background:#58A0AF;" >

<div class="showlayout"></div>
<div class="xian" style="position:absolute;border:1px solid red"></div>
<div class="queding hide" style="background:#CCFDCF;position:absolute;border:1px solid #666">确定</div>
<div class="quxiao hide" style="background:#CCFDCF;position:absolute;border:1px solid #999">取消</div>
<div class="outHtml hide"></div>
<ul class="showinfo"><li></li></ul>
</div>
</body>
</html>
<script src="data.js"></script>
<script src="dragBackground.js"></script>
<script src="create_html.js"></script>
<script src="init.js"></script>