*{padding:0;margin:0;behavior: url(ie_css3.htc)\9;}
.center{margin:0 auto;text-align:center;}
.hide{display:none;}
.border{border:1px solid red;}
.btn_ctl{width:46px;height:46px;}
.btn_ctl:hover{cursor:pointer;}
.pause{background-image:url(ICON_ZT.png);background-repeat:no-repeat;}
.play{background-image:url(ICON_BF.png);background-repeat:no-repeat;}
.end{background-image:url(ICON_FH.png);background-repeat:no-repeat;}
.btn_reset{background-image:url(ICON_CS.png);background-repeat:no-repeat;}
.btn_rotate{background-image:url(ICON_XH.png);background-repeat:no-repeat;}